/* Custom styles added to demo */

.twitter-tweet {
  margin: auto;
}

iframe {
  border-radius: var(--radius) !important;
}

.home-info ul {
  padding-inline-start: 20px;
}

.entry-cover img {
  border: 1px solid var(--border);
}

/* font shit */
@font-face {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

code {
  font-family: "Space Mono", monospace;
}

body {
  font-family: "Space Grotesk";
}
